header {
    background-color: #ffdbcf;
    height: 50px;
    color: #442b2d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cart {
        display: flex;
        align-items: center;
    }
}

